movil-experience-api/src/main/mule/movil-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43c1881d-deb2-422e-a618-5687a6fd40b6" >
		<http:listener-connection host="0.0.0.0" port="8085" protocol="HTTPS" tlsContext="TLS_Context"/>
	</http:listener-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="78e6853a-593a-49e4-8a8d-dea9f7fb968a" >
		<tls:key-store type="jks" path="mule.jks" keyPassword="kndnumero222!@#$" password="kndnumero222!@#$" />
	</tls:context>
	<http:request-config name="salesforce-process-api" doc:name="HTTP Request configuration" doc:id="f1b7800c-e422-4ab1-a3a0-6c6d65360156" >
		<http:request-connection protocol="HTTPS" host="localhost" port="8084" />
	</http:request-config>
	<flow name="movil-experience-get-cases" doc:id="3a38c911-2afd-4cac-ac45-62b3a9150ee9" >
		<http:listener doc:name="Listener" doc:id="5804ecda-ba3c-42ad-928c-c6136839e65a" config-ref="HTTP_Listener_config" path="/cases" allowedMethods="GET">
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c7efe429-739a-4717-a73c-7d351aeb0b48" />
		<http:request method="GET" doc:name="Request" doc:id="991874df-7cba-4eb7-b965-15452b6e8ad0" config-ref="salesforce-process-api" path="/cases">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	limit : attributes.uriParameters.limit
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="a0c4a9e9-e085-44c1-8300-ea1a1a9b58f8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-get-accounts" doc:id="a02e1861-a8a2-4bc1-ba32-48144f47bd6c" >
		<http:listener doc:name="Listener" doc:id="ccbaeb10-b571-494f-8acf-3955dbd9fdac" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="GET" >
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8925a467-68c9-4fba-820d-e85a38ce03d2" />
		<http:request method="GET" doc:name="Request" doc:id="13f22cff-d825-47b3-a058-c94725100fe8" config-ref="salesforce-process-api" path="/accounts">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	limit : attributes.uriParameters.limit
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f5b15939-eb67-48a5-b532-76eb3e0251d0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-get-contacts" doc:id="9c41773c-facf-4452-8f34-7c7dd6a6a26e" >
		<http:listener doc:name="Listener" doc:id="a0ff3373-5674-4b2c-a945-ced06ff8ddb6" config-ref="HTTP_Listener_config" path="/contacts" allowedMethods="GET" >
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="dd14b9cd-77e2-4039-9fbc-6e36810aaae3" />
		<http:request method="GET" doc:name="Request" doc:id="e3ee2338-a37a-43f7-b379-74cca2a80494" path="/contacts" config-ref="salesforce-process-api">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	limit : attributes.uriParameters.limit
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="83f85db7-4883-486f-9cea-87d0cc86b25e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-post-case" doc:id="f511b58e-8e0f-4140-884b-3de2fb845181" >
		<http:listener doc:name="Listener" doc:id="1955a199-d1d4-479b-a628-081f09b37020" config-ref="HTTP_Listener_config" path="/cases/{id}" allowedMethods="POST" >
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ff789cf1-21a7-4516-a11b-30eca0b8a753" />
		<http:request method="POST" doc:name="Request" doc:id="2c8b31df-5ac9-4568-95a4-3015d31d3214" config-ref="salesforce-process-api" path="/cases" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c54d82b1-bc3d-4fcc-94f1-8d33f045ac16" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-post-account" doc:id="1b5c7991-3c75-4695-89fb-b76673f44819" >
		<http:listener doc:name="Listener" doc:id="7242b549-8f27-4c5f-aeee-28e85a72af47" config-ref="HTTP_Listener_config" path="/accounts/{id}" allowedMethods="POST" >
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fd35258a-6b39-4af4-ab4e-d9ac049e9371" />
		<http:request method="POST" doc:name="Request" doc:id="efcedfc2-e91c-4a35-b185-d375afc5d079" config-ref="salesforce-process-api" path="/accounts" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7b1f6291-e878-4ce5-9449-fbe5d0eecbae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-post-contact" doc:id="a6f845cd-e0e7-4e21-9607-3333386b5a2f" >
		<http:listener doc:name="Listener" doc:id="75932505-1e2c-42ca-a688-aa3c4c3ec193" config-ref="HTTP_Listener_config" path="/contacts/{id}" allowedMethods="POST" >
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4324e947-2fc9-49e5-bd06-4a8fd975b1b8" />
		<http:request method="POST" doc:name="Request" doc:id="6cdd596e-07bd-4618-b485-846f1b05021c" config-ref="salesforce-process-api" path="/contacts" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="87eada77-4cb4-4347-a39c-686a3ccbb92f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-patch-case" doc:id="b1cb2411-43f2-41e0-bb8f-0985bab41680" >
		<http:listener doc:name="Listener" doc:id="bfd261df-a3db-4f65-b2ab-1332ec3a9c96" config-ref="HTTP_Listener_config" path="/cases/{id}" allowedMethods="PATCH" >
			<http:response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c4aa545d-7e93-43d7-a26d-8fa226e41747" />
		<http:request method="PATCH" doc:name="Request" doc:id="701be600-9d1a-47e9-9599-6e562bc18d34" config-ref="salesforce-process-api" path="/cases" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3d921354-6892-4c60-af77-74f81854807b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-patch-account" doc:id="7ebb2b4a-5a47-4a95-8afb-6420c0c0cee2" >
		<http:listener doc:name="Listener" doc:id="5d8c18c6-62cb-4766-bc57-ddedbf07f471" config-ref="HTTP_Listener_config" path="/accounts/{id}" allowedMethods="PATCH" >
			<http:response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e1dc3539-063a-4dd3-87e0-f3fe11580781" />
		<http:request method="PATCH" doc:name="Request" doc:id="e80cd95c-0249-4255-8358-b1a7d51bd9eb" config-ref="salesforce-process-api" path="/accounts" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b372f17c-5fde-4373-977b-6b5794a1fef7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-patch-contact" doc:id="a39db76c-8f2f-4434-b63f-5b9f71e35785" >
		<http:listener doc:name="Listener" doc:id="a7ac663f-706f-49f6-9195-92c83efc3a6a" config-ref="HTTP_Listener_config" path="/contacs/{id}" allowedMethods="PATCH" >
			<http:response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="968041f7-1532-4df6-b06a-14b691eb781c" />
		<http:request method="PATCH" doc:name="Request" doc:id="05c1fc59-1e62-4c1c-8857-a2903a18578f" config-ref="salesforce-process-api" path="/contacts" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="279dd2c8-f0fe-4d92-b647-8d70ba4e461f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-delete-case" doc:id="d72557f6-3aa5-4fa2-bb01-d0f0f3977aa8" >
		<http:listener doc:name="Listener" doc:id="c4624019-8e2d-43f0-b6cf-657373d47ef3" config-ref="HTTP_Listener_config" path="/cases/{id}" allowedMethods="DELETE" >
			<http:response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9dc84097-f76a-4502-ab61-18b808e74f24" />
		<http:request method="DELETE" doc:name="Request" doc:id="d3260092-ac68-4878-bb53-759b119e5098" config-ref="salesforce-process-api" path="/cases" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="978143fb-a2a8-4886-b8b4-ca498f37b46f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-delete-account" doc:id="533934e3-f839-44a0-9331-8541c431edd6" >
		<http:listener doc:name="Listener" doc:id="8ff3f99b-efd7-4e95-a281-44f06b964f32" config-ref="HTTP_Listener_config" path="/accounts/{id}" allowedMethods="DELETE" >
			<http:response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="cef3d830-4b51-4d2a-86ce-4c9255a4cd22" />
		<http:request method="DELETE" doc:name="Request" doc:id="e86f55c7-76d0-4993-a26d-8cf43d7a77ac" config-ref="salesforce-process-api" path="/accounts" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="77c70418-1198-4ad2-a2be-8a9aa1d0b954" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="movil-experience-delete-contact" doc:id="74884ce3-2cea-4708-a19f-11417e968ebc" >
		<http:listener doc:name="Listener" doc:id="813dd38f-777b-4f47-bc45-92c1dc6f955d" config-ref="HTTP_Listener_config" path="/contacts/{id}" allowedMethods="DELETE" >
			<http:response statusCode="500" />
			<http:error-response statusCode="500" />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ba8ddc89-20e7-4f31-a1bd-f3c8a5da145f" />
		<http:request method="DELETE" doc:name="Request" doc:id="23744631-1481-42a8-a135-f2178ab5d739" config-ref="salesforce-process-api" path="/contacts" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : attributes.uriParameters.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="70fdbcf7-8c0f-487f-8606-f2c799726566" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
