salesforce-process-api/src/main/mule/salesforce-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31b0af65-70d4-4ef9-94dd-c55ed437d47d" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="salesforce-process-apiFlow" doc:id="acdbd830-7ebd-4993-9666-db66d5acc408" >
		<scheduler doc:name="Scheduler" doc:id="32f74eb6-e698-47d7-b509-95c4cb55d0e3" >
			<scheduling-strategy >
				<fixed-frequency startDelay="100" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="fb9cee43-c224-4607-9a72-6f1c3254571a" path="C:\Users\acer\Desktop\Capptus Asignación Mulesoft\cases.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="6e52b913-6a65-4296-b574-d8b0f02bd959" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dc413023-34ea-49a5-b24c-ceb50d254e20" message='Total Records: #[sizeOf(payload)]'/>
		<batch:job jobName="salesforce-process-apiBatch_Job" doc:id="3cc61fd0-7a55-418e-a4ea-653fe7deb70e" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="c99ffbd4-d304-45f2-94bb-11f6e41f90df" >
					<ee:transform doc:name="Transform Message" doc:id="4fdd9013-99d3-45c0-8de7-c366b286df78" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="78d58481-c83a-4ee9-ba54-154bf1f3a411" size="200">
						<logger level="INFO" doc:name="Logger" doc:id="6b8af954-9a92-4b76-bc98-dd5e7cecd9ec" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="88f61225-f684-417b-8b2d-27b5bed26038" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
